$font-primary: 'Raleway', sans-serif;
$font-secudary: 'PT Mono';
$color-primary-bg: #f4f4f4;
$color-blanco: #fff;
$color-link: #3498db;
$color-button: #4CAF50;
$color-button-secondary: #A2A2A2;
$color-button-hover: #45a049;
$box-shadow-standard: 0 2px 4px rgba(0,0,0,0.1);
$azul: #3007ff;
$rojo: #ff0707;
$amarillo: #ffc107;
$negro: #333;
$verde: #28a745;